*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
transition:0.3s;
}
:root{

--bg:#f4f6fa;
--card:#ffffff;
--text:#111;

--purple:#7b2cbf;
--yellow:#facc15;
--nof:#111;
--shadow:0 10px 25px rgba(123,44,191,0.25);

}

body.dark{

--bg:#0f0f0f;
--card:#1c1c1c;
--text:#ffffff;
--nof:#111;

}

body{

display:flex;
background:var(--bg);
color:var(--text);

}
.sidebar{

width:230px;
min-height:100vh;   
height:100%;     
padding:30px 20px;
background:#ffffff;
box-shadow:var(--shadow);

}


body.dark .sidebar{

background:#1c1c1c;

}

.sidebar h2{

margin-bottom:30px;
color:var(--purple);

}

.sidebar ul{

list-style:none;

}

.sidebar li{

margin:18px 0;
cursor:pointer;
padding:8px;
border-radius:8px;

}

.sidebar li:hover{

background:rgba(123,44,191,0.15);
color:var(--purple);

}

.sidebar i{

margin-right:10px;
color:var(--purple);

}

.main{

flex:1;
padding:25px;

}


.topbar{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;

}

.mode-toggle{
width:45px;
height:45px;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
background:rgba(123,44,191,0.15);
border:2px solid #7b2cbf;
color:#facc15;
font-size:18px;
cursor:pointer;
transition:0.3s;
box-shadow:0 0 10px rgba(123,44,191,0.4);
margin-top: -8px;
}

.mode-toggle:hover{
background:#7b2cbf;
color:#facc15;
transform:scale(1.1) rotate(10deg);
box-shadow:0 0 18px rgba(123,44,191,0.8);
}

.top-actions{
display:flex;
align-items:center;
gap:10px;
justify-content:flex-end;
}

.top-actions img{
border-radius:50%;

}

.stats{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
margin-bottom:30px;

}

.card{

background:var(--card);
padding:25px;
border-radius:12px;
box-shadow:var(--shadow);
position:relative;

}

.card:hover{

transform:translateY(-5px);

}

.card-icon{

position:absolute;
top:20px;
right:20px;
font-size:22px;
color:var(--purple);

}

.card h3{

margin-bottom:10px;
color:var(--purple);

}

.card p{

font-size:28px;
font-weight:600;

}
.table-card{

background:var(--card);
padding:25px;
border-radius:12px;
box-shadow:var(--shadow);

}
body.dark .notification{
color:#fff;
}
table{

width:100%;
border-collapse:collapse;
table-layout:fixed;
}

th,td{

padding:12px;
text-align:left;

}

thead{

background:var(--purple);
color:white;

}
.logo-text{
font-weight:400;
font-size:20px;
margin-bottom:20px;
text-decoration:none;
display:flex;
align-items:center;
justify-content:center;
gap:10px;
color:#7c3aed;
font-weight:700;
}

/* LOGO IMAGE */
.logo-img{
width:20px;
height:20px;
object-fit:contain;
transition:0.3s;
}

/* HOVER EFFECT */
.logo-text:hover .logo-img{
transform:scale(1.1);
}

.logo-text:hover{
opacity:0.9;
}


tbody tr:nth-child(even){

background:#f1f1f1;

}

body.dark tbody tr:nth-child(even){

background:#222;

}
.success{

color:limegreen;
font-weight:600;

}

.pending{

color:orange;
font-weight:600;

}

body.dark .pending{

color:var(--yellow);

}

body.dark .pending-row{

background:rgba(250,204,21,0.1);

}
.analytics-section{

display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
margin-top:30px;

}

.analytics-card{

background:var(--card);
padding:25px;
border-radius:12px;
box-shadow:var(--shadow);

}

.analytics-card h2{

margin-bottom:20px;
color:var(--purple);

}

.progress{

height:8px;
background:#ddd;
border-radius:10px;
overflow:hidden;
margin:8px 0;

}

.progress span{

display:block;
height:100%;
background:linear-gradient(90deg,#7b2cbf,#facc15);

}

.activity-card{

border-left:5px solid var(--purple);

}

.activity{

list-style:none;

}

.activity li{

margin:14px 0;
padding:10px;
background:rgba(123,44,191,0.08);
border-radius:8px;
display:flex;
align-items:center;
gap:10px;

}

.activity li:hover{

background:rgba(123,44,191,0.2);

}

.activity i{

color:var(--purple);

}

.room-booking-section{

display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
margin-top:30px;

}

.status-card{

background:var(--card);
padding:25px;
border-radius:12px;
box-shadow:var(--shadow);

}

.status-card h2{

margin-bottom:20px;
color:var(--purple);

}

.status-item{

display:flex;
justify-content:space-between;
margin-bottom:12px;

}

.status{

padding:4px 10px;
border-radius:20px;
font-size:12px;
color:white;

}

.status.open{background:green;}
.status.playing{background:orange;}
.status.maintenance{background:red;}


.upcoming-bookings{

list-style:none;

}

.upcoming-bookings li{

display:flex;
justify-content:space-between;
padding:10px 0;
border-bottom:1px solid #ddd;

}
.mobile-menu{

position:absolute;
top:70px;
right:20px;
background:var(--card);
border-radius:10px;
box-shadow:var(--shadow);
padding:15px;
display:none;
z-index:1000;

}

.mobile-menu ul{

list-style:none;

}

.mobile-menu li{

padding:10px 15px;
cursor:pointer;
border-radius:6px;

}

.mobile-menu li:hover{

background:rgba(123,44,191,0.15);
color:var(--purple);

}


@media (max-width:639px){

body{
flex-direction:column;
}


@media (max-width:768px){

.sidebar{
position:fixed;
top:0;
left:-100%;   /* hide off screen */
width:230px;
height:100vh;
transition:0.3s;
z-index:1000;
}

/* SHOW when clicked */
.sidebar.active{
left:0;
}

.main{
margin-left:0;
}

.menu-btn{
display:block;
}

}


.main{
padding:15px;
}


.topbar{
display:flex;
flex-direction:column;
align-items:flex-start;
gap:10px;
}


.top-actions{
width:100%;
display:flex;
justify-content:flex-end;
align-items:center;
gap:10px;
order:1;
}


.top-actions img{
width:38px;
height:38px;
border-radius:50%;
}


.mode-toggle{
position:static;
width:38px;
height:38px;
font-size:16px;
margin-top: -9px;
}


.topbar h1{
font-size:18px;
width:100%;
text-align:center;
order:2;
}


.stats{
grid-template-columns:1fr;
}

.analytics-section{
grid-template-columns:1fr;
}

.room-booking-section{
grid-template-columns:1fr;
}

.table-card{
overflow-x:auto;
}

table{
min-width:500px;
font-size:13px;
}

th,td{
padding:8px;
}

}
@media (min-width:640px) and (max-width:1023px){

.sidebar{
width:200px;
}

.main{
margin-left:0;
padding:20px;
}

.stats{
grid-template-columns:repeat(2,1fr);
}

.analytics-section{
grid-template-columns:1fr;
}

.room-booking-section{
grid-template-columns:1fr;
}
.mode-toggle{
right:60px;
}

}

@media (min-width:1024px) and (max-width:1279px){

.sidebar{
width:220px;
}

.stats{
grid-template-columns:repeat(3,1fr);
}

.analytics-section{
grid-template-columns:1fr 1fr;
}

.room-booking-section{
grid-template-columns:1fr 1fr;
}

}
@media (min-width:1280px){

.sidebar{
width:230px;
}

.stats{
grid-template-columns:repeat(4,1fr);
}

.analytics-section{
grid-template-columns:1fr 1fr;
}

.room-booking-section{
grid-template-columns:1fr 1fr;
}

.main{
padding:30px;
}

}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

:root{
--bg:#f4f6fa;
--card:#fff;
--text:#111;
--purple:#7b2cbf;
}

body.dark{
--bg:#0f0f0f;
--card:#1c1c1c;
--text:#fff;
}

body{
display:flex;
background:var(--bg);
color:var(--text);
}

/* SIDEBAR FIXED */
.sidebar{
position:fixed;
top:0;
left:0;
width:230px;
height:100vh;
background:var(--card);
padding:20px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
z-index:1000;
overflow:hidden; /* IMPORTANT */
}

.sidebar ul{
list-style:none;
}

.sidebar li{
margin:15px 0;
cursor:pointer;
padding:8px;
border-radius:8px;
}

.sidebar li:hover{
background:rgba(123,44,191,0.15);
color:var(--purple);
}

.logout{
color:red;
}

/* MAIN SHIFT */
.main{
margin-left:230px;
padding:25px;
width:100%;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
}

.top-actions{
display:flex;
align-items:center;
gap:18px; /* controls spacing */
}

.notification{
position:relative;
background:none;
border:none;
font-size:18px;
cursor:pointer;
color: var(--nof);
}



.badge{
position:absolute;
top:-5px;
right:-5px;
background:red;
color:#fff;
font-size:10px;
padding:3px 6px;
border-radius:50%;
}

/* PROFILE */
.profile img{
width:40px;
border-radius:50%;
cursor:pointer;
}

/* DROPDOWN */
.mobile-menu{
position:absolute;
top:70px;
right:20px;
background:var(--card);
padding:10px;
border-radius:8px;
display:none;
}

/* WELCOME */
.welcome{
margin:20px 0;
}

/* CARDS */
.stats{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.card{
background:var(--card);
padding:20px;
border-radius:10px;
}

/* MODE BUTTON */
.mode-toggle{
cursor:pointer;
}

.menu-btn{
display:none;
 display:none;
border:none;
cursor:pointer; 
z-index:2000;
background:var(--purple);
color:#fff;
border:none;
padding:10px;
border-radius:5px;
}

@media(max-width:768px){

.sidebar{
left:-100%;
transition:0.3s;
}

.sidebar.active{
left:0;
}

.main{
margin-left:0;
}

.menu-btn{
display:flex;
align-items:center;
justify-content:center;
}


.stats{
grid-template-columns:1fr;
}

}
body{
display:flex;
background:var(--bg);
color:var(--text);
}

/* FIXED SIDEBAR */
.sidebar{
position:fixed;
top:0;
left:0;
width:230px;
height:100vh;
overflow:hidden;
}

/* SHIFT MAIN */
.main{
margin-left:230px;
padding:25px;
width:100%;
}

/* MOBILE FIX */
@media(max-width:768px){

.sidebar{
position:fixed;
top:0;
left:-100%;
width:230px;
height:100vh;
background:var(--card);
transition:0.3s;
z-index:1000;
}

.sidebar.active{
left:0;
}

.main{
margin-left:0;
}

}